.invoice-item {
	margin-bottom: 10px;
}
.column-1 {
	width: 25%;
	float: left;
}
.column-2 {
	width: 65%;
	margin-left: 20px;
	display: inline-block;
}
.item-delete {
	font-size: 20px;
	color: #aa0000;
	margin-left: 20px;
}
